a {
    color: #e50000;
    text-decoration: none;
}
body {
    background-color: #fff;
}

.eskualde-mugak {
    fill: none;
    stroke: #777;
    stroke-width: 0.5px;
    stroke-linejoin: round;
}

.kanpo-mugak {
    fill: #fff;
    stroke: #777;
    stroke-width: 2px;
    stroke-linejoin: round;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.4));
}

#kontainerra {
    margin: 0 auto 0 auto;
    width: 680px;
    position: relative;
    height: 580px;
    font-family: Arial,Helvetica,sans-serif !important;
    font-size: 16px;
}

#mapa {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hasierako-mezua {
    left: 95px;
    margin-top: 10px;
    position: absolute;
    text-align: center;
    top: 0;
}

.daturik-ez {
    display: none; /* Hasieran ezkutuan */
    text-align: center;
}

.datuak {
    left: 65px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    width: 390px;
}

#unitatea-izena {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.datuak-taula {
    display: none;  /* Hasieran ezkutuan */
    margin-left: auto;
    margin-right: auto;
}

.datuak-taula .eskuinekoa {
    text-align: right;
    width: 50px;
}

.legenda {
    left: 500px;
    position: absolute;
    top: 395px;
    font-size: 14px;
}

.legenda .kolorea {
    display: inline-block;
    height: 15px;
    margin-right: 5px;
    width: 15px;
}

#kredituak {
	color: #333;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	left: 8px;
	position: absolute;
	top: 510px;
	width: 250px;
}

#mapa-argia-logoa {
	width: 100px;
}
#mapa-iametza-logoa {
	width: 100px;
    margin-left: 15px;
}
#grafikoa {
    position: absolute !important;
    top: 175px;
    right: 10px;
    display: none; /* Hasieran ezkutuan */
}
/*
 * Zutabeei kolore desberdinak emateko arazoak izan ditut.
 * Zutabe-talde berean jarriz gero guztiei kolore bera eman behar nien.
 * Zutabe-talde desberdinetan jarriz gero berriz zutabeak elkarren jarraian itsatsita agertzen ziren.
 * Zutabeen artean tarte pixkat emateko erabiltzen dut hau.
 */
.c3-bar {
    stroke: #fff !important;
    stroke-width: 1 !important;
}
.c3-text {
    fill: #000 !important;
}
#urtea1 {
    position: absolute;
    top: 369px;
    right: 70px;
    font-size: 12px;
    display: none; /* Hasieran ezkutuan */
}
#urtea2 {
    position: absolute;
    top: 369px;
    right: 22px;
    font-size: 12px;
    display: none; /* Hasieran ezkutuan */
}
