a {
    color: #e50000;
    text-decoration: none;
}
body {
    background-color: #fff;
}
.unitateak.birziklapen-tasa:hover {
    fill: #333;
}

.izenburua {
    position: absolute;
    top: 8px;
    left: 24px;
    font-size: 24px;
    font-weight: bold;
}
.izenburua.birziklapen-tasa {
    left: 70px;
}
.izenburua.errefusa {
    left: 105px;
}
.stripe {
    mask: url(#mask-stripe);
}

.eskualde-mugak {
    fill: none;
    stroke: #777;
    stroke-width: 0.5px;
    stroke-linejoin: round;
}

.kanpo-mugak {
    fill: #fff;
    stroke: #777;
    stroke-width: 2px;
    stroke-linejoin: round;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.4));
}

#kontainerra {
    margin: 0 auto 0 auto;
    width: 680px;
    position: relative;
    height: 580px;
    font-family: Arial,Helvetica,sans-serif !important;
    font-size: 16px;
    border: 1px solid black;
}

#mapa {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hasierako-mezua {
    left: 52px;
    position: absolute;
    text-align: center;
    top: 40px;
}

.daturik-ez {
    display: none; /* Hasieran ezkutuan */
    text-align: center;
    position: absolute;
    left: 410px;
    top: 250px;
    width: 300px;
    font-size: 14px;
}

.daturik-ez-betegarria {
    fill: url("#pattern-stripe");
}
.datuak {
    left: 65px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    width: 390px;
}

#unitatea-izena {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    position: absolute;
    left: 485px;
    top: 221px;
    width: 150px;
}

.datuak-taula {
    display: none;  /* Hasieran ezkutuan */
    margin-left: auto;
    margin-right: auto;
}

.datuak-taula .eskuinekoa {
    text-align: right;
    width: 50px;
}

.legenda {
    left: 290px;
    position: absolute;
    top: 495px;
    font-size: 14px;
}
.legenda.errefusa {
    top: 472px;
    left: 280px;
}
.legenda.birziklapen-tasa {
    left: 320px;
}
.legenda .kolorea {
    display: inline-block;
    height: 15px;
    margin: 0px 5px 0px 15px;
    width: 15px;
}
.legenda.errefusa .tartea {
    width: 150px;
}

#kredituak {
	color: #333;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	left: 0px;
	position: absolute;
	top: 510px;
	width: 250px;
    text-align: center;
}

#mapa-argia-logoa {
	width: 100px;
}
#mapa-iametza-logoa {
	width: 100px;
    margin-left: 15px;
}
#grafikoa {
    position: absolute !important;
    top: 250px;
    right: 55px;
    display: none; /* Hasieran ezkutuan */
}
/*
 * Zutabeei kolore desberdinak emateko arazoak izan ditut.
 * Zutabe-talde berean jarriz gero guztiei kolore bera eman behar nien.
 * Zutabe-talde desberdinetan jarriz gero berriz zutabeak elkarren jarraian itsatsita agertzen ziren.
 * Zutabeen artean tarte pixkat emateko erabiltzen dut hau.
 */
.c3-bar {
    stroke: #fff !important;
    stroke-width: 1 !important;
}
.c3-text {
    fill: #000 !important;
    font-size: 14px;
}
#urtea1 {
    position: absolute;
    top: 445px;
    right: 133px;
    font-size: 12px;
    display: none; /* Hasieran ezkutuan */
    font-size: 14px;
}
#urtea2 {
    position: absolute;
    top: 445px;
    right: 72px;
    font-size: 12px;
    display: none; /* Hasieran ezkutuan */
    font-size: 14px;
}
